.body{
    background-image: url('../public/sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color: white;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    position: absolute;
    vertical-align: middle;
    left: 50%;
    margin-left: -77.57px;
    margin-top: 150px;
    font-weight:bold; 
    z-index: 0;
}

.article{
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: x-large;
    margin-right: 270px;
    margin-left: 270px;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 90px;
}

.article:hover{
    background-color: #333;
    color: white;
    transition: all 0.9s ease-out;
    cursor: pointer;
}

.articleposition{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom:0;
    margin-top: 333px;
  }
  
.fine{
    margin-bottom: 25px;
}

.div{
    margin-top: 25px;
}

  @media (max-width: 760px){
    .body{
        background-size: cover;
        background-position: center;
    }

    .article{
        font-size: medium;
        margin: 30px;
        margin-top: 300px;
    }

    .title{
        color: transparent;
    }

    .footer{
        margin-top: 300px;
    }
  }